<div id="login">
    <form class="form-horizontal" action="post">
        <div class="control-group">
            <div class="controls input-prepend">
                <span class="add-on addonextra">用户名</span><input type="text" name="username" id="username"
                                                                 placeholder="用户名">
            </div>
        </div>
        <div class="control-group">
            <div class="controls input-prepend">
                <span class="add-on addonextra">密码</span><input type="password" name="password" id="password"
                                                                placeholder="密码">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn loginaction">登陆</button>
            </div>
        </div>
    </form>
</div>

<div id="selectdependjobdiv">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span6" id="choose">
                    <ul class="row-fluid">
                    </ul>
                </div>
                <div class="span6" id="choosed">
                    <ul class="row-fluid">
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <button type="button" class="btn btn-large">确定</button>
            </div>
        </div>
    </form>
</div>

